@import "_vars";
@import "_global";
@import "_fonts";

//===========================================================================================================================================================================================
.header {
	&__top {
	}

	&__top-inner {
		font-family: "Roboto-Regular", sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 400;
	}

	&__logo {
	}

	&__text {
		margin: 0px 25px 0px auto;
		font-size: 15px;
		span {
			color: $red;
		}
	}

	&__phone {
	}

	&__box {
		color: #fff;
		position: relative;
		display: flex;
		align-items: center;
	}

	&__icons {
		display: none;
		margin: 0px 20px 0px 0px;

		&.login--on {
			display: flex;
		}
	}

	&__circle {
		width: 35px;
		height: 35px;
		background-color: #f5f5f5;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #aeb4bb;
		font-size: 14px;
		position: relative;

		& + .header__circle {
			margin: 0px 0px 0px 15px;
		}

		span {
			font-family: "Lato-Semibold", sans-serif;
			position: absolute;
			width: 19px;
			height: 19px;
			top: -10px;
			right: -5px;
			border-radius: 50%;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 11px;
		}
	}

	&__notification {
		span {
			background-color: #fcb322;
		}
	}

	&__message {
		span {
			background-color: #ef6c00;
		}
	}

	&__basket {
		span {
			background-color: $green;
		}
	}

	&__user {
	}

	&__btn {
		background-color: $red;
		padding: 10px 20px;
		border-radius: 6px;
		font-size: 15px;
		line-height: 15px;
		& + .header__btn {
			margin: 0px 0px 0px 7px;
		}
	}

	&__btn {
		color: #fff;

		&.login {
			background-color: $green;
			
			&--off {
				display: none;
			}
		}
	}

	&__menu {
		background-color: $bg;
	}
}

.user {
	display: flex;
	margin: 0px 25px 0 0px;
	padding: 0px 20px 0px 0px;
	position: relative;

	&__info {
		font-family: "Roboto", sans-serif;
	}

	&__image {
		width: 35px;
		height: 35px;
		background-color: #00c2c3;
		border-radius: 50%;
		margin: 0px 15px 0px 0px;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-size: 14px;
		line-height: 21px;
		color: #222222;
		font-weight: 500;
	}

	&__balance {
		font-size: 14px;
		line-height: 14px;
		color: $green;
		font-weight: 700;
	}

	&__icon-angle-down {
		color: $text;
		position: absolute;
		top: 2px;
		right: 0;
		font-size: 14px;
	}

	&__menu {
	}

	&__box {
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;

		&:hover {
			.menu-user {
				height: auto;
				padding: 25px 20px;
				border-top: 1px solid #e7ecf2;
				&__list {
					li {
						margin: 0px 0px 10px 0px;
						transition: all 0.8s;
					}
				}
			}
		}
	}
	
}

.menu-user {
	position: absolute;
	width: 160px;
	height: 0px;
	overflow: hidden;
	margin: 28px 0px 0px 0px;
	top: 62px;
	left: 0px;
	background-color: #fff;

	&__list {
		li {
			margin: 0px 0px 0px 0px;
		}
	}

	&__link {
		font-family: "Roboto-Regular", sans-serif;
		color: #546e7a;
		padding: 0px 0px 0px 20px;
		font-size: 12px;

		position: relative;
		&::before {
			content: "\f105";
			font-family: "icomoon";
			color: $green;
			font-size: 18px;
			position: absolute;
			left: 0;
		}
	}

	.icon-angle-right {
		&::before {
			color: $green;
		}
	}
}

.notification {

	&__box {
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;
		margin: 0px 15px 0px 0px;

		&:hover{
			.menu-notification {
				height: auto;
				z-index: 6;
				&__item {
					padding: 18px 20px;
					transition: all 0.8s;
				}
			}

			.icon-bell-o {
				color: $bg;
			}
		}
	}

	&__menu {
	}
}


.menu-notification {

	position: absolute;
	width: 291px;
	height: 0;
	overflow: hidden;
	padding: 20px 0px 0px 0px;
	top: 70px;
	right: 0;
	background-color: #fff;	
	font-family: 'Roboto', sans-serif;
	z-index: 5;

	&__item {
		display: flex;
		border: 1px solid #e7ecf2;
		padding: 0px 20px;

		& + .menu-message__item {
			border-top: none;
		}

		.icon-bell-o {
			font-size: 16px;
			color: #b0bec5;
			&.active{
				color: #ef6c00;
			}
		}
	}

	&__avatar {
	}

	&__info {
		margin: 0px 0px 0px 20px;
	}

	&__name {
		font-size: 12px;
		color: $bg;
		font-weight: 700;
	}

	&__need {
		font-size: 12px;
		color: $green;
		font-family: "Roboto-Regular", sans-serif;
	}

	&__date {
		font-size: 10px;
		color: #707070;
		font-family: "Roboto-Regular", sans-serif;
	}

	&__icon {
		margin: 5px 10px 0px auto;
	}
}

.message {

	&__box {
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;
		margin: 0px 15px 0px 0px;
		&:hover{
			.menu-message {
				height: auto;
				z-index: 6;
				&__item {
					padding: 18px 20px;
					transition: all 0.8s;
				}
			}
			.icon-envelope-o {
				color: $bg;
			}
		}
	}

	&__menu {
	}	
}


.menu-message {
	position: absolute;
	width: 291px;
	height: 0;
	overflow: hidden;
	padding: 20px 0px 0px 0px;
	top: 70px;
	right: 0;
	background-color: #fff;	
	font-family: 'Roboto', sans-serif;
	z-index: 5;

	&__item {
		display: flex;
		border: 1px solid #e7ecf2;
		padding: 0px 20px;

		& + .menu-message__item {
			border-top: none;
		}

		.icon-mail-reply,.icon-envelope-o {
			font-size: 16px;
			color: #b0bec5;
			&.active{
				color: #ef6c00;
			}
		}
	}

	&__avatar {
	}

	&__info {
		margin: 0px 0px 0px 20px;
	}

	&__name {
		font-size: 12px;
		color: $bg;
		font-weight: 700;
	}

	&__need {
		font-size: 11px;
		color: $green;
		font-family: "Roboto-Regular", sans-serif;
	}

	&__date {
		font-size: 10px;
		color: #707070;
		font-family: "Roboto-Regular", sans-serif;
	}

	&__icon {
		margin: 5px 10px 0px auto;
	}
}


.basket {

	&__box {
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;

		&:hover{
			.menu-basket {
				height: auto;
				z-index: 6;
				&__item {
					padding: 20px 20px;
					transition: all 0.8s;
				}
			}

			.icon-shopping-cart {
				color: $bg;
			}
		}
	}

	&__menu {
	}
}

.menu-basket {
	position: absolute;
	width: 291px;
	height: 0px;
	overflow: hidden;
	padding: 20px 0px 0px 0px;
	top: 70px;
	right: 0;
	background-color: #fff;	
	font-family: 'Roboto', sans-serif;
	z-index: 5;

	&__item {
		display: flex;
		padding: 0px 20px;
		border: 1px solid #e7ecf2;
		& + .menu-basket__item {
			border-top: none;
		}
	}

	&__image {
		position: relative;
		max-width: 75px;
		min-height: 100%;
		width: 100%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__info {
		margin: 0px 0px 0px 15px;
		
	}

	&__title {
		font-weight: 500;
		color: $bg;
		font-size: 15px;
		line-height: 18px;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 15px;
		color: $green;
		margin: 0px 0px 10px 0px;
	}

	&__price {
		color: #000;
		font-size: 16px;
		line-height: 16px;
	}

	&__finale {
		display: flex;
		padding: 15px 32px;
		justify-content: space-between;
		border: 1px solid #e7ecf2;
		border-top: none;
		border-bottom: none;
	}

	&__total {
		font-weight: 700;
		font-size: 16px;
		color: $bg;
	}

	&__submit {
		display: flex;
		justify-content: space-between;
		padding: 0px 15px 15px;
		border: 1px solid #e7ecf2;
		border-top: none;

		&.header__btn {
			border-radius: none;			
		}
	}

	&__cart{
		background-color: $green;
	}

	&__checkout {
		background-color: $red;
	}

	
}


.menu {
	&__list {
		display: flex;
		padding: 17.5px 0;
		li + li {
			padding-left: 39px;
		}
	}

	&__link {
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}
}

//===========================================================================================================================================================================================

.search {
	padding: 0 15px;

	&__inner {
		text-align: center;
		color: #fff;
		padding: 160px 0;

		&.product-page {
			padding: 70px 0;
		}
	}

	&__title {
		font-size: 48px;
		line-height: 48px;
		font-weight: 700;
		padding: 0px 0px 35px;
	}

	&__text {
		font-size: 20px;
		line-height: 20px;
		margin: 0px 0px 55px 0px;
		font-weight: 500;

		&.product-page {
			margin: 0px 0px 20px 0px;
		}
	}

	&__form {
	}
}

.form {
	max-width: 670px;
	margin: 0 auto;
	position: relative;

	&__input {
		max-width: 670px;
		width: 100%;
		height: 52px;
		border-radius: 4px;
		padding: 0px 50px 0px 25px;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		font-size: 14px;
		font-weight: 500;

		&::placeholder {
			color: #90a4ae;
		}

		&:focus {
			border: 1px solid rgb(7, 94, 4);
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(0, -50%);
		width: 20px;
		height: 20px;
		background-color: transparent;
	}
}
//===========================================================================================================================================================================================

.products {
	padding: 110px 0;
	background-color: $grey;

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__inner {
	}

	&__btn {
		text-align: center;
		margin: 0px 0px 60px 0px;
		font-weight: 500;
		font-size: 14px;
		button {
			padding: 10px 25px;
			background-color: #fff;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
			& + button {
				margin: 0px 0px 0px 5px;
			}
		}
	}

	&__btn-down {
		margin: 45px 5px 0;
		text-align: center;
		font-weight: 500;
		font-size: 14px;

		button {
			padding: 10px 25px;
			background-color: #fff;
			box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}

			& + button {
				margin: 0px 0px 0px 5px;
			}
		}
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13px;
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 13px;
	}
}

.item-products {
	margin: 0px 0px 30px 0px;

	&__image {
		position: relative;
		padding: 0px 0px 56.12% 0px;
		img {
			position: absolute;
			width: 100%;
			max-width: 440px;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		span {
			position: absolute;
			width: 65px;
			height: 65px;
			top: 0;
			left: 0;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		line-height: 25px;
		color: $bg;
		padding: 30px 30px 20px;
		border: 1px solid #e7ecf2;
		border-top: none;

		&.product-page {
			font-size: 16px;
		}
	}

	&__name {
		max-width: 190px;
	}

	&__title {
		display: block;
	}

	&__category {
		display: block;
		font-size: 14px;
		color: $green;
	}

	&__price {
		font-size: 20px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #e7ecf2;
		border-top: none;
		padding: 20px 30px;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

		&.product-page {
			padding: 20px;
		}
	}

	&__author {
		display: flex;
	}

	&__avatar {
		position: relative;
		min-height: 30px;
		min-width: 30px;
		border-radius: 50%;
		background-color: #b5b5b5;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}

	&__nick {
		padding: 0px 0px 0px 15px;
		line-height: 30px;
	}

	&__star {
		font-size: 14px;
		line-height: 30px;
	}
}

//========================================================================================================================================================================================
.products-slider {
	padding: 110px 0;

	&__title {
		margin: 0px 0px 45px 0px;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13px;
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 13px;
	}

	& .slick-dots {
		display: flex;
		margin: 40px auto 0;
		ul {
			line-height: 20px;
		}

		button {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin: 0 4px;
			font-size: 0;
			line-height: 0;
			border: 1px solid #b1b1b1;
		}
	}

	& .slick-active {
		button {
			background-color: $green;
		}
	}
}

.item-products {
	&__image {
	}

	&__content {
	}

	&__name {
	}

	&__title {
	}

	&__category {
	}

	&__price {
	}

	&__info {
	}

	&__author {
	}

	&__avatar {
	}

	&__nick {
		max-width: 120px;

		&.product-page {
			display: block;
			max-width: 78px;
			overflow: hidden;
			font-size: 14px;
		}
	}

	&__star {
		span {
			color: $bg;
		}
	}

	&__rate-star {
		display: inline-block;
	}
}

//============================================================================================================================================================================
.advantages {
	padding: 100px 0;
	background-color: $bg;

	&__title {
		color: #fff;
		margin: 0px 0px 60px 0px;
	}

	&__inner {
		display: flex;
		margin: 0 -25px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 25px;
	}
}
.item-advantages {
	text-align: center;
	color: #fff;

	&__image {
		margin: 0 auto 30px;
		border-radius: 50%;
		height: 120px;
		width: 120px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 90px;
			height: 80px;
		}
		&_heart {
			svg {
				margin: 10px 0px 0px 0px;
				width: 90px;
				height: 90px;
			}
		}
	}

	&__title {
		margin: 0px 0px 30px 0px;
		font-size: 24px;
		font-weight: 500;
		&:hover {
			color: $green;
		}
	}

	&__text {
		color: #b0bec5;
	}

	&:hover {
		.item-advantages__image {
			background-color: $green;
			transition: all 1s;
			svg {
				g {
					fill: #fff;
				}
			}
		}

		.item-advantages__title {
			color: $green;
			transition: all 1s;
		}
	}
}
//=========================================================================================================================================================================================
.author {
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		width: 660px;
		height: 220px;
		background-color: $green;
		padding: 70px;
		display: flex;
		font-family: "Roboto-Regular", sans-serif;
		font-weight: 400;
		align-items: center;
	}

	&__title {
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		max-width: 270px;

		span {
			font-weight: 700;
		}
	}

	&__link {
		display: inline-block;
		font-size: 18px;
		color: $bg;
		margin: 0px 0px 0px 50px;
		background-color: #fff;
		line-height: 60px;
		padding: 0 25px;
	}
}
//==================================================================================================================================================================================
.tutorials {
	padding: 80px 0 150px;

	&__title {
		margin: 0px 0px 50px 0px;
	}

	&__inner {
		display: flex;
		margin: 0 -17.5px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 17.5px;
	}
}

.item-tutorials {
	&__image {
		position: relative;
		padding: 0px 0px 73.64% 0px;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		color: $bg;
		padding: 40px 0;
		background-color: #f8f8f8;
	}
}
//=========================================================================================================================================================================================
.footer {
	background-color: $bg;

	&__inner {
		display: flex;
		margin: 0 -30px;
		padding: 120px 0 100px;
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 30px;
	}

	&__copy {
		border-top: 2px solid #424d53;
	}

	&__copy-text {
		text-align: center;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 15px;
		line-height: 36px;
		padding: 25px 0;
	}
}

.item-footer {
	&__title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		color: #fff;
		margin: 0px 0px 30px 0px;

		&::after {
			content: "";
			display: block;
			padding: 25px 0px 0px 0px;
			height: 5px;
			width: 50px;
			background: url("../images/footer/line.png") bottom left no-repeat;
		}
	}

	&__text {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 15px;
		line-height: 24px;
		color: #b7c3c8;
		margin: 0px 0px 30px 0px;
	}

	&__address {
		display: block;
		font-family: "Lato-Semibold", sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 30px;
		position: relative;

		&::before {
			content: "\f041";
			font-family: "icomoon";
			color: $green;
			font-size: 18px;
			position: absolute;
			left: 0;
		}
	}

	&__tel {
		display: block;
		font-family: "Lato-Semibold", sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		padding: 0px 0px 0px 30px;
	}

	&__list {
		li {
			margin: 0px 0px 15px 0px;
		}
	}

	&__link {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 15px;
		line-height: 20px;
		color: #b7c3c8;
		padding: 0px 0px 0px 25px;
		position: relative;

		&::before {
			content: "\f105";
			font-family: "icomoon";
			color: $green;
			font-size: 18px;
			position: absolute;
			left: 0;
		}
	}

	&__socials {
		margin: 0px 0px 40px 0px;
	}

	&__icon {
		display: inline-block;
		margin: 0px 4px 0px 0px;
	}

	&__form {
	}
}
.form-footer {
	&__title {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 20px;
		line-height: 36px;
		color: #fff;
		margin: 0px 0px 20px 0px;
	}

	&__form {
		position: relative;
	}

	&__input {
		display: inline-block;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 14px;
		line-height: 36px;
		background-color: #2f3c43;
		line-height: 40px;
		padding: 0 50px 0 15px;
		color: #fff;
		max-width: 220px;
		&::placeholder {
			color: #697378;
		}
	}

	&__btn {
		width: 45px;
		height: 40px;
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		background-color: $green;
		&::after {
			content: "\f124";
			font-family: "icomoon";
			color: #fff;
			font-size: 18px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

//=================================================================================================================================================================================================
.product-page {
	&__row {
		display: flex;
		margin: 0px 0px 80px 0px;
	}

	&__aside {
		flex: 1 1 270px;
		margin: 0px 30px 0px 0px;
		max-width: 270px;
	}

	&__content {
		flex: 0 1 auto;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 13px;

		.item-products__image {
			padding: 0px 0px 67.79% 0px;
		}
	}

	.product-page__box .product-page__item {
		.item-products__comments {
			display: none;
		}

		.item-products__likes {
			display: none;
		}

		&.list {
			flex: 0 1 100%;

			.item-products__image {
				padding: 0px 0px 21.3% 0px;
				float: left;
				width: 240px;
				height: 100%;

				img {
					max-width: 240px;
				}
			}

			.item-products__content {
				padding: 20px 30px 46.5px;
				background-color: #fff;
				position: relative;

				&::after {
					content: "Pimply dummy text of the printing and typesetting industry. ";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 80px;
					left: 30px;
					color: #70838d;
					font-size: 14px;
				}

				.item-products__price {
					position: relative;
					font-size: 30px;

					&::after {
						content: "Sales ( 14 )";
						position: absolute;
						width: 70px;
						height: 100%;
						top: 40px;
						right: -5px;
						font-size: 13px;
						color: #70838d;
					}
				}
			}

			.item-products__info {
				background-color: #fff;
				.item-products__author {
					margin: 0px auto 0px 0px;
				}
				.item-products__star {
					margin: 0px 30px 0px 0px;
				}
			}

			.item-products__star {
				position: relative;

				&::after {
					content: "";
					display: inline-block;
				}
			}

			.item-products__comments {
				display: block;
				position: relative;
				border-left: 1px solid #aeb4bb;
				border-right: 1px solid #aeb4bb;
				padding: 0px 30px 0 55px;
				text-align: center;
				cursor: pointer;
				font-size: 14px;

				&::before {
					content: "\f0e5";
					font-family: "icomoon";
					color: $green;
					font-size: 18px;
					position: absolute;
					left: 20px;
					top: -2px;
				}
			}

			.item-products__likes {
				display: block;
				position: relative;
				padding: 0px 10px 0 55px;
				text-align: center;
				cursor: pointer;
				font-size: 14px;

				&::before {
					content: "\f08a";
					font-family: "icomoon";
					color: $green;
					font-size: 18px;
					position: absolute;
					left: 20px;
					top: 0;
				}
			}
		}
	}

	&__filter {
		min-height: 60px;
		border: 1px solid #dedede;
		margin: 0px 0px 30px 0px;
		background-color: #fff;
	}

	&__pagination {
	}
}

.pagination {
	margin: 30px 0px 0px 0px;

	&__list {
		li {
			display: inline-block;
			& + li {
				margin: 0px 0px 0px 4px;
			}
		}
	}

	&__link,
	span {
		padding: 10px 20px;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		font-size: 16px;
		color: $bg;

		&.active {
			background-color: $red;
			color: #fff;
		}
	}
}

.aside {
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		color: $bg;
		padding-bottom: 25px;
		margin-bottom: 25px;
		max-width: 100%;
		border-bottom: 1px solid #dedede;
	}

	&__box {
		.product-page__item {
			padding: 0;
			border: none;
		}

		.item-products__content {
			border: none;
			padding: 20px 0;
		}

		.item-products__info {
			box-shadow: none;
			border: none;
			margin-bottom: 25px;
			border-bottom: 1px solid #dedede;
			padding: 0 0 25px;
		}
	}

	&__categories {
		background-color: #fff;
		padding: 30px 35px 35px;
		border: 1px solid #dedede;
		margin: 0px 0px 30px 0px;
	}

	&__price-range {
		background-color: #fff;
		padding: 30px 35px 35px;
		margin: 0px 0px 30px 0px;
		border: 1px solid #dedede;
	}

	&__top-sellers {
		background-color: #fff;
		padding: 30px 35px 35px;
		margin: 0px 0px 30px 0px;
		border: 1px solid #dedede;
	}

	&__view {
		text-align: center;
	}

	&__btn {
		display: inline-block;
		background-color: $green;
		color: #fff;
		padding: 10px 60px;
		position: relative;

		&_search {
			&::before {
				content: "\f002";
				font-family: "icomoon" !important;
				position: absolute;
				font-size: 15px;
				left: 36px;
				top: 7px;
				color: #fff;
			}
		}
	}

	&__list {
		li {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 0px 20px;
			position: relative;
			&::before {
				content: "\f105";
				font-family: "icomoon" !important;
				position: absolute;
				font-size: 18px;
				left: 0;
				top: -2px;
				color: $green;
			}
		}
	}

	&__link {
		a {
			display: flex;
			justify-content: space-between;
			color: $bg;
			span {
				color: #90a4ae;
			}
		}
	}

	&__form {
		span {
			.irs-min,
			.irs-max {
				display: none;
			}

			.irs-line {
				height: 5px;
			}

			.irs-bar {
				background-color: #37474f;
				height: 5px;
			}

			.irs-handle {
				width: 16px;
				height: 16px;
				border: 2px solid $green;
				background-color: #fff;
				border-radius: 50%;
			}
		}

		button {
			margin: 40px 0px 0px 0px;
		}
	}

	&__filter {
	}
}

.irs--flat .irs-handle > i:first-child {
	display: none !important;
}

.irs-from,
.irs-single,
.irs-to {
	top: 45px;
}

.irs--flat .irs-handle {
	top: 20px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	background-color: #fff;
	color: $text;
	font-size: 15px;
}

.filter {
	display: flex;
	padding: 0px 25px 0px 20px;
	justify-content: space-between;
	align-items: center;
	position: relative;

	button {
		background-color: #fff;
	}

	.icon-sort-amount-desc {
	}

	&__title {
		padding: 0 10px;
	}

	.icon-unsorted {
		margin: 0px auto 0px 0px;
	}

	&__view {
	}

	.icon-th-large {
		margin: 0px 5px 0px 0px;
		&.active {
			color: $green;
		}
	}

	.icon-th-list {
		&.active {
			color: $green;
		}
	}
}

//==============================================================================================================================================================================
