@import '_vars';
@import '_global';
@import '_fonts';

.header {

	&__top {
	}

	&__top-inner {
		font-family: 'Roboto-Regular', sans-serif;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 400;
	}

	&__logo {
	}

	&__text {
		margin: 0px 25px 0px auto;
		font-size: 15px;
		span {
			color: $red;
		}
	}

	&__phone {
	}

	&__box {
		color: #fff;
		padding: 0px 0px 0px 70px;
		position: relative;
	}

	&__basket {
		position: absolute;
		left: 0;
		content: '';
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: url('../images/basket.png') center no-repeat, #f5f5f5;
	}

	&__btn {
		background-color: $red;
		padding: 10px 20px;
		border-radius: 6px;
		font-size: 15px;
		line-height: 45px;
	}

	&__btn.login {
		background-color: $green;
	}

	&__menu {
		background-color: $bg;
		
	}
}

.menu {

	&__list {
		display: flex;
		padding: 17.5px 0;
		li+li {
			padding-left: 39px;
		}
	}

	&__link {
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}
}

.search {
	padding: 0 15px;

	&__inner {
		text-align: center;
		color: #fff;
		padding: 160px 0;
	}

	&__title {
		font-size: 48px;
		line-height: 48px;
		font-weight: 700;
		padding: 0px 0px 35px;
	}

	&__text {
		font-size: 20px;
		line-height: 20px;
		margin: 0px 0px 55px 0px;
		font-weight: 500;
	}

	&__form {
	}
}

.form {
	max-width: 670px;
	margin: 0 auto;
	position: relative;

	&__input {
		max-width: 670px;
		width: 100%;
		height: 52px;
		border-radius: 4px;
		padding: 0px 50px 0px 25px;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		font-size: 14px;
		font-weight: 500;

		&::placeholder {
			color: #90a4ae;
		}

		&:focus {
			border: 1px solid rgb(7, 94, 4);
		}
	}

	

	&__btn {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(0,-50%);
		width: 20px;
		height: 20px;
		background-color: transparent;
	}
}